# Dependencies
node_modules

# Test artifacts
test-results
playwright-report
blob-report
allure-results
allure-report
playwright/.cache

# Env / secrets
.env
.env.*

# Git
.git
.gitignore

# Build output
dist
build

# IDE / OS
.vscode
.idea
.DS_Store
*.log
npm-debug.log*

